/*base styles/*/
img {
  display: block;
}

.container {
  margin: 0 auto;

  padding: {
    left: 15px;
    right: 15px;
  }

  @media screen and (min-width: $mobile) {
    width: 480px;
  }

  @media screen and (min-width: $tablet) {
    width: 768px;
  }

  @media screen and (min-width: $desktop) {
    width: 1280px;
  }
}

body {
  font-family: $main-font;
  color: $black;
}