/*base styles/*/
img {
  display: block;
}

.container {
  margin: 0 auto;

  padding: {
    left: 20px;
    right: 20px;
  }

  @media screen and (min-width: $mobile) {
    width: 480px;
  }

  @media screen and (min-width: $tablet) {
    width: 768px;

    padding: {
      left: 32px;
      right: 32px;
    }
  }

  @media screen and (min-width: $desktop) {
    width: 1280px;

    padding: {
      left: 16px;
      right: 16px;
    }
  }
}

body {
  font-family: $main-font;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;

  color: $black;
  background-color: $white;
}