<<<<<<< Updated upstream:src/sass/utils/_breakpoints.scss
$mobile:480px;
$tablet:768px;
$desktop:1280px;
=======
$mobile: 480px;
$tablet: 768px;
$desktop: 1280px;
>>>>>>> Stashed changes:src/sass/ultilits/_breakpoints.scss
