%list {
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
}

%link {
  text-decoration: none;
  color: inherit;
}

%button {
  @include button_template;

  height: 32px;
  width: 100px;

  border: 1px solid transparent;
  background-color: $green;

  transition: background-color $anim-fast;

  &:hover,
  &:focus {
    background-color: $button-hover-green;
  }
}

%button_transparent {
  @include button_template;

  height: 40px;
  width: 130px;

  border: 2px solid $dark-green;
  background-color: $white;
  cursor: pointer;

  transition: border-color $anim-fast;

  &:hover,
  &:focus {
    border-color: $green;
  }
}

%button_subscribe {
  @include button_template;

  display: block;
  height: 42px;
  width: 130px;

  border: 1px solid $dark-green;
  background-color: $white;

  transition: background-color $anim-fast;

  &:hover,
  &:focus {
    background-color: $yellow;
  }
}

%section {
  max-width: 1920px;
  margin: 0 auto;
}
