%list {
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
}

%link {
  text-decoration: none;
  color: inherit;
}

%button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  height: 32px;
  width: 100px;

  margin: 0;

  font: {
    family: inherit;
    size: 14px;
    weight: 400;
  }

  border: 1px solid transparent;
  border-radius: 30px;
  background-color: $green;
  cursor: pointer;

  transition: background-color $anim-fast;

  &:hover,
  &:focus {
    background-color: $button-hover-green;
  }

}