/* fonts */
$main-font: 'Roboto', sans-serif;

/*colors*/
$green: #bbf330;
$dark-green: #7eb101;
$button-hover-green: #b5ff00;
$yellow: #ffe550;
$black: #2c2c2c;
$white: #fefefe;
$red: #FF705D;

/* others */
$shadowfruit-bagcol: radial-gradient(50% 50% at 50% 50%,
                #2f583f 0%,
                rgba(105, 105, 105, 0) 100%);

$indent: 30px;
$items: 3;

// animations
$anim-fast: 300ms ease-in-out;
$anim-slow: 600ms ease-out;