<section class="customers-section" id="customers">
  <div class="customers">
    <h2 class="customers__heading">What our Customers Say</h2>
    <p class="customers__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="customers__review-list">
      <li class="customer">
        <ul class="star">
          <li class="star__item">
            <svg class="star__icon" width="18" height="16">
              <use href="./images/customers/Stat.svg#icon-Star"></use>
            </svg>
          </li>
          <li class="star__item">
            <svg
              class="star__icon"
              width="18"
              height="16"
              aria-label="icon star"
            >
              <use href="./images/customers/Stat.svg#icon-Star"></use>
            </svg>
          </li>
          <li class="star__item">
            <svg
              class="star__icon"
              width="18"
              height="16"
              aria-label="icon star"
            >
              <use href="./images/customers/Stat.svg#icon-Star"></use>
            </svg>
          </li>
          <li class="star__item">
            <svg
              class="star__icon"
              width="18"
              height="16"
              aria-label="icon star"
            >
              <use href="./images/customers/Stat.svg#icon-Star"></use>
            </svg>
          </li>
          <li class="star__item">
            <svg
              class="star__icon"
              width="18"
              height="16"
              aria-label="icon star"
            >
              <use href="./images/customers/Stat.svg#icon-Star"></use>
            </svg>
          </li>
        </ul>
        <p class="customer__text">
          “The Best app I have used to order food in a while, so many options to
          choose from too, I would recommend to a freind, No questions asked”
        </p>
        <div class="customer__info">
          <div class="customer__icon"></div>
          <p class="customer__sign">
            <span class="customer__name">Sumith Shah</span>
            Some Dude
          </p>
        </div>
      </li>
      <li class="customer">
        <ul class="star">
          <li class="star__item">
            <svg
              class="star__icon"
              width="18"
              height="16"
              aria-label="icon star"
            >
              <use href="./images/customers/Stat.svg#icon-Star"></use>
            </svg>
          </li>
          <li class="star__item">
            <svg
              class="star__icon"
              width="18"
              height="16"
              aria-label="icon star"
            >
              <use href="./images/customers/Stat.svg#icon-Star"></use>
            </svg>
          </li>
          <li class="star__item">
            <svg
              class="star__icon"
              width="18"
              height="16"
              aria-label="icon star"
            >
              <use href="./images/customers/Stat.svg#icon-Star"></use>
            </svg>
          </li>
          <li class="star__item">
            <svg
              class="star__icon"
              width="18"
              height="16"
              aria-label="icon star"
            >
              <use href="./images/customers/Stat.svg#icon-Star"></use>
            </svg>
          </li>
          <li class="star__item">
            <svg
              class="star__icon"
              width="18"
              height="16"
              aria-label="icon star"
            >
              <use href="./images/customers/Stat.svg#icon-Star"></use>
            </svg>
          </li>
        </ul>
        <p class="customer__text">
          “The ease with which I can just go in and order what i want was
          amazing, It has been a very pleasant experience ordering from this
          app”
        </p>
        <div class="customer__info">
          <div class="customer__icon"></div>
          <p class="customer__sign">
            <span class="customer__name">Sumith Shah</span>
            Some Dude
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
