<section class="favorites" id="favorites">
  <div class="container">
    <h2 class="favorites__header">Some of Our Favorites</h2>
    <p class="favorites__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="favorites__list">
      <li class="favorite">
        <img draggable="false"
          class="favorite__image"
          sizes="(min-width: 1280px) 315px,(min-width: 768px) 268px,223px"
          src="./images/favorites/destop/png/gamburger-315w.png"
          srcset="
            ./images/favorites/destop/png/gamburger-315w.png 315w,
            ./images/favorites/destop/png/gamburger-630w.png 630w,
            ./images/favorites/mobile/png/gamburger-224w.png 224w,
            ./images/favorites/mobile/png/gamburger-448w.png 448w,
            ./images/favorites/tablet/png/gamburger-268w.png 268w,
            ./images/favorites/tablet/png/gamburger-536w.png 536w
          "
          alt="gamburger"
        />
      </li>
      <li class="favorite">
        <img draggable="false"
          class="favorite__image"
          sizes="(min-width: 1280px) 315px,(min-width: 768px) 268px,223px"
          src="./images/favorites/destop/png/Pasta-315w.png"
          srcset="
            ./images/favorites/destop/png/Pasta-315w.png 315w,
            ./images/favorites/destop/png/Pasta-630w.png 630w,
            ./images/favorites/mobile/png/Pasta-224w.png 224w,
            ./images/favorites/mobile/png/Pasta-449w.png 449w,
            ./images/favorites/tablet/png/Pasta-268w.png 268w,
            ./images/favorites/tablet/png/Pasta-536w.png 536w
          "
          alt="pasta"
        />
      </li>
      <li class="favorite">
        <img draggable="false"
          class="favorite__image"
          sizes="(min-width: 1280px) 315px,(min-width: 768px) 268px,223px"
          src="./images/favorites/destop/png/pizza-315w.png"
          srcset="
            ./images/favorites/destop/png/pizza-315w.png 315w,
            ./images/favorites/destop/png/pizza-630w.png 630w,
            ./images/favorites/mobile/png/pizza-224w.png 224w,
            ./images/favorites/mobile/png/pizza-448w.png 448w,
            ./images/favorites/tablet/png/pizza-268w.png 268w
          "
          alt="pizza"
        />
      </li>
      <li class="favorite">
          <img draggable="false"
            class="favorite__image"
            sizes="(min-width: 1280px) 315px,(min-width: 768px) 268px,100vw"
            src="./images/favorites/destop/png/chicken-315w.png"
            srcset="
              ./images/favorites/destop/png/chicken-315w.png 315w,
              ./images/favorites/destop/png/chicken-630w.png 630w,
              ./images/favorites/tablet/png/chicken-268w.png 268w,
              ./images/favorites/tablet/png/chicken-536w.png 536w
            "
            alt="chicken"
          />
      </li>
      <li class="favorite">
        <img draggable="false"
          class="favorite__image"
          sizes="(min-width: 1280px) 315px,(min-width: 768px) 268px,100vw"
          src="./images/favorites/destop/png/salat-315w.png"
          srcset="
            ./images/favorites/destop/png/salat-315w.png 315w,
            ./images/favorites/destop/png/salat-630w.png 630w,
            ./images/favorites/tablet/png/salat-268w.png 268w,
            ./images/favorites/tablet/png/salat-536w.png 536w
          "
          alt="salat"
        />
      </li>
      <li class="favorite">
        <img draggable="false"
          class="favorite__image"
          sizes="(min-width: 1280px) 315px,(min-width: 768px) 268px,100vw"
          src="./images/favorites/destop/png/borshch-315w.png"
          srcset="
            ./images/favorites/destop/png/borshch-315w.png 315w,
            ./images/favorites/destop/png/borshch-630w.png 630w,
            ./images/favorites/tablet/png/borshch-268w.png 268w,
            ./images/favorites/tablet/png/borshch-536w.png 536w
          "
          alt="borsh"
        />
      </li>
    </ul>
  </div>
</section>
