<section class="container">
  <div class="footer">
    <div class="footer__inner">
      <div class="footer__inner--nav">
        <a>
          <svg width="66" height="52">
            <use href="./images/icons.svg#logo"></use>
          </svg>
        </a>
        <ul class="menu">
          <li class="menu__item--footer">
            <a href="" class="menu__link menu__link--footer">Home</a>
          </li>
          <li class="menu__item--footer">
            <a href="" class="menu__link menu__link--footer">About</a>
          </li>
          <li class="menu__item--footer">
            <a href="" class="menu__link menu__link--footer">Service</a>
          </li>
          <li class="menu__item--footer">
            <a href="" class="menu__link menu__link--footer">Menu</a>
          </li>
          <li class="menu__item--footer">
            <a href="" class="menu__link menu__link--footer">Contact</a>
          </li>
        </ul>
      </div>
      <form class="form">
        <label class="form__label" for="email">
          <span class="form__title">Subscribe</span>
        </label>
        <div class="form__inner--input">
          <input
            type="email"
            placeholder="Enter your email"
            name="email"
            class="form__input"
            id="email"
          />
          <button type="submit" class="form__btn">Subscribe</button>
        </div>
        <p class="footer__text">
          By subscribing you agree to with our
          <a href="" class="footer__link">Privacy Policy</a>
        </p>
      </form>
    </div>

    <div class="footer__inner--doc">
      <div class="footer__inner--link">
        <a href="" class="footer__link">Privacy Policy</a>
        <a href="" class="footer__link">Terms of Service</a>
        <a href="" class="footer__link">Cookies Settings</a>
      </div>

      <p class="footer__text footer__text--center">
        2022 FoodSta. All right reserved.
      </p>
    </div>
  </div>
</section>
