<div class="container header__inner">
  <div class="header__mobile">
    <a href="#">
      <svg width="66" height="52">
        <use href="./images/icons.svg#logo"></use>
      </svg>
    </a>
    <button
      type="button"
      class="header__btn"
      data-menu-button
      aria-expanded="false"
    >
      <svg width="28" height="28" aria-label="munu" class="header__btn-svg">
        <use href="./images/icons.svg#menu-open" class="icon-menu"></use>
      </svg>
    </button>
  </div>
  <div class="header__menu">
    <nav class="nav" data-menu>
      <ul class="menu">
        <li class="menu__item">
          <a href="#header" class="menu__link menu__link--line">Home</a>
        </li>
        <li class="menu__item">
          <a href="#hero" class="menu__link menu__link--line">About</a>
        </li>
        <li class="menu__item">
          <a href="#offerings" class="menu__link menu__link--line">Service</a>
        </li>
        <li class="menu__item">
          <a href="#favorites" class="menu__link menu__link--line">Menu</a>
        </li>
        <li class="menu__item">
          <a href="#footer" class="menu__link menu__link--line">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
  <button type="button" class="nav__btn js-open-modal" data-modal="1">
    Order Now
  </button>
</div>
