<section class="hero-section" id="hero">
  <div class="container">
    <div class="hero">
      <h1 class="hero__title">Enjoy Your Favorite Food From Anywhere</h1>
      <p class="hero__article">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>
      <button type="button" class="hero__button js-open-modal" data-modal="1">
        Order now
      </button>

      <div class="swiper-plaseholder">
        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <picture class="swiper-image">
                <source
                  media="(min-width: 1200px)"
                  srcset="
                    ./images/hero/img-1@1x_lg.jpg 1x,
                    ./images/hero/img-1@2x_lg.jpg 2x
                  "
                  type="image/jpg"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./images/hero/img-1@1x_sm.jpg 1x,
                    ./images/hero/img-1@2x_sm.jpg 2x
                  "
                  type="image/jpg"
                />
                <img
                  src="./images/hero/img-1@1x_sm.jpg"
                  alt="food"
                  width="528"
                />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture class="swiper-image">
                <source
                  media="(min-width: 1200px)"
                  srcset="
                    ./images/hero/img-2@1x_lg.jpg 1x,
                    ./images/hero/img-2@2x_lg.jpg 2x
                  "
                  type="image/jpg"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./images/hero/img-2@1x_sm.jpg 1x,
                    ./images/hero/img-2@2x_sm.jpg 2x
                  "
                  type="image/jpg"
                />
                <img
                  src="./images/hero/img-2@1x_sm.jpg"
                  alt="food"
                  width="528"
                />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture class="swiper-image">
                <source
                  media="(min-width: 1200px)"
                  srcset="
                    ./images/hero/img-3@1x_lg.jpg 1x,
                    ./images/hero/img-3@2x_lg.jpg 2x
                  "
                  type="image/jpg"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./images/hero/img-3@1x_sm.jpg 1x,
                    ./images/hero/img-3@2x_sm.jpg 2x
                  "
                  type="image/jpg"
                />
                <img
                  src="./images/hero/img-3@1x_sm.jpg"
                  alt="food"
                  width="528"
                />
              </picture>
            </div>
          </div>
        </div>
        <div class="swiper-navigation">
          <button class="swiper-button-prev swiper-button-prev-custom">
            <svg class="swiper-button-icon" width="18" height="32">
              <use href="./images/icons.svg#icon-prev"></use>
            </svg>
          </button>
          <button class="swiper-button-next swiper-button-next-custom">
            <svg class="swiper-button-icon" width="18" height="32">
              <use href="./images/icons.svg#icon-next"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
