<div class="container hero-container">
  <div class="hero" name="hero">
    <h1 class="hero__title">Enjoy Your Favorite Food From Anywhere</h1>
    <p class="hero__article">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      varius enim in eros elementum tristique. Duis cursus, mi quis viverra
      ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
    </p>
    <button type="button" class="hero__button">Order now</button>
  </div>

  <div class="swiper-plaseholder">
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img
            src="/src/images/Hero/img-1@1x_lg.jpg"
            alt="food"
            class="swiper-image"
            width="535"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="/src/images/Hero/img-2@1x_lg.jpg"
            alt="food"
            class="swiper-image"
            width="535"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="/src/images/Hero/img-3@1x_lg.jpg"
            alt="food"
            class="swiper-image"
            width="535"
          />
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
    <div class="swiper-navigation">
      <button class="swiper-button-prev swiper-button-prev-custom"></button>
      <button class="swiper-button-next swiper-button-next-custom"></button>
    </div>
  </div>
</div>
