<section class="container subscribe">
  <div class="section__thumb">
    <h2 class="subscribe__title">Subscribe To Get Special Offers</h2>
    <p class="subscribe__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      varius enim in eros elementum tristique.
    </p>
    <form action=""></form>
  </div>
  <picture>
    <source
      media="(max-width:767px)"
      srcset="
        .\partials/src/images/subscribe/banan-mob@1x.png 1x,
        .\partials/src/images/subscribe/banan-mob@2x.png 2x
      "
      type="image/png"
    />
    <source
      media="(max-width:1199px)"
      srcset="
        .\partials/src/images/subscribe/banan-tab@1x.png 1x,
        .\partials/src/images/subscribe/banan-tab@2x.png 2x
      "
      type="image/png"
    />
    <source
      media="(min-width:1200px)"
      srcset="
        .\partials/src/images/subscribe/banan-desk@1x.png 1x,
        .\partials\src/images/subscribe/banan-desk@2x.png 2x
      "
      type="image/png"
    />
    <img src="/src/images/subscribe/banan-mob@1x.png" alt="Банан" width="546" />
  </picture>
</section>
