<section class="subscribe-section">
  <div class="container">
    <div class="subscribe">
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="
            ./images/subscribe/banan@1x-desk.png 1x,
            ./images/subscribe/banan@2x-desk.png 2x
          "
          type="image/png"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/subscribe/banan@1x-tab.png 1x,
            ./images/subscribe/banan@2x-tab.png 2x
          "
          type="image/png"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/subscribe/banan@1x-mob.png 1x,
            ./images/subscribe/banan@2x-mob.png 2x
          "
          type="image/png"
        />
        <img
          src="./images/subscribe/banan@1x-mob.png"
          alt="banana"
          class="subscribe__img"
          width="608"
        />
      </picture>
      <div>
        <h2 class="subscribe__title">Subscribe To Get Special Offers</h2>
        <p class="subscribe__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros elementum tristique.
        </p>
        <form class="subscribe__form">
          <div>
            <input
              class="subscribe__input"
              type="email"
              placeholder="Enter your email"
              required
              pattern="^([a-z0-9_-]+\.)*[a-z0-9_-]+@[a-z0-9_-]+(\.[a-z0-9_-]+)*\.[a-z]{2,6}$"
            />
            <div class="subscribe__error">
              <img
              src="./images/subscribe/icon-error.svg"
              alt="error"
              class="subscribe__error-icon"
              width="12"
              />
              Not a valid email address (example@email.com)
            </div>
          </div>

          <button type="submit" class="subscribe__button">Subscribe</button>
        </form>
      </div>
  </div>
</div>
</section>
