<section class='offering-container'>
    <div class="decoration">
        <div class="decoration__thumb"></div>
    </div>
    <div class="offering">
        <h2 class="offering__title">
          What&CloseCurlyQuote;s Special About Our Offerings
        </h2>
        <p class="offering__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros elementum tristique. Duis cursus, mi quis viverra
          ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
        </p>

        <ul class="offering__list">
          
          <li class="offering__item">
            <h3 class="offering__subtitle">Fasest Delivery</h3>
            <p class="offering__description"></p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Suspendisse varius enim in eros.
            </p>
          </li>

          <li class="offering__item">
            <h3 class="offering__subtitle">Easy To Order</h3>
            <p class="offering__description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Suspendisse varius enim in eros.
            </p>
          </li>
        </ul>

        <div class="offering__button-thumb">
          <button class="offering__button" type="button">Order Now</button>
          <p class="offering__accent">Read More ></p>
        </div>

    </div>
</section>