<section class="offerings-section" id="offerings">
  <div class="offerings-container">
    <div class="decoration">
    </div>
    <div class="offerings">
      <h2 class="offerings__title">
        What&CloseCurlyQuote;s Special About Our Offerings
      </h2>
      <p class="offerings__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>

      <ul class="offerings__list">
        <li class="offering">
          <h3 class="offering__title">Fasest Delivery</h3>
          <p class="offering__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros.
          </p>
        </li>

        <li class="offering">
          <h3 class="offering__title">Easy To Order</h3>
          <p class="offering__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros.
          </p>
        </li>
      </ul>

      <div class="offerings__button-thumb">
        <button class="offerings__button js-open-modal" type="button" data-modal="1">Order Now</button>
        <a class="offerings__accent" href="#">
          Read More
          <!-- &#10095; -->
          <svg width="6" height="9" aria-label="">
            <use href="./images/offering/sprite.svg#arrow"></use>
          </svg>
        </a>
      </div>
  </div>
</div>
</section>