.header {
  @extend %section;
  box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
}

.header__inner {
  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
  }
}

.menu {
  @extend %list;

  @media screen and (min-width: $tablet) {
    display: flex;
    gap: 28px;
  }
}

.menu__link {
  @extend %link;
  display: block;

  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  color: #000;

  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  transition: background-color $anim-fast;

  &:hover,
  &:focus {
    background-color: $green;
  }

  @media screen and (min-width: $tablet) {
    padding-left: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: color $anim-fast;

   &--line{
    position: relative;
    &::after {
        position: absolute;
        content: '';
        bottom: 20px;
        display: block;
        background-color: $green;
        width: 100%;
        height: 1px;
        transform: scaleX(0);
        transition: transform $anim-fast;
      }
    
      &:hover::after,
      &:focus::after {
        transform: scaleX(1);
      }
   }

    &:hover,
    &:focus {
      background-color: transparent;
      color: $green;
    }
  }
}

.header__mobile {
  position: relative;

  padding-top: 10px;
  padding-bottom: 10px;
}

.header__menu {
  position: relative;

  margin-left: auto;
  margin-right: 28px;
}

.nav {
  z-index: 100;
  overflow-y: scroll;

  @media screen and (max-width: calc($tablet - 1px)) {
    display: none;
    position: absolute;
    top: -25px;
    right: -25px;
    width: 130px;
    height: 255px;
    background-color: $white;

    box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
    border-radius: 30px 0px 30px 30px;

    &.is-open {
      display: block;
    }
  }

  @media screen and (min-width: $tablet) {
    overflow-y: auto;
  }
}

.header__btn-svg {
  fill: $dark-green;
  transition: fill $anim-fast;
}

.header__btn {
  display: inline-flex;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  z-index: 500;

  position: absolute;
  top: 22px;
  right: 0;

  &.is-open .header__btn-svg {
    fill: $yellow;
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.nav__btn {
  @extend %button;
  height: 32px;
  display: none;

  @media screen and (min-width: $tablet) {
    display: inline-flex;
  }
}