%title {
  margin-top: 0;
  margin-bottom: 0;
}

.offerings-section {
  
  @extend %section;

  padding: {
    top: 40px;
    bottom: 60px
  };

  background-image: url('../images/offering/bgimage_start_mobile.svg');
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (min-width: $tablet) {
    padding: { 
      top: 150px;
      bottom: 100px}
    
    background-image: url('../images/offering/bgimage_start_tablet.svg');
  }

  @media screen and (min-width: $desktop) {
    padding: { 
      top: 177px;
      bottom: 75px}
    background-image: url('../images/offering/bgimage_start_desktop.svg');
  }
}

.offerings-container {
  @extend .container;

  @media screen and (min-width: $desktop) {
    display: flex;
    gap: 90px;
  }
}


.decoration {
  margin: {
    left: auto;
    right: auto;
    bottom: 60px;
  }

  //outline: 1px solid;

  width: 280px;
  height: 309px;
  background-image: url('../images/offering/img_280_309.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/offering/img_280_309@2x.png');
  }

  @media screen and (min-width: $tablet) {
    width: 704px;
    height: 394px;
    background-image: url('../images/offering/img_704_394.png');

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/offering/img_704_394@2x.png');
    }
  }

  @media screen and (min-width: $desktop) {
    margin: 0;
    width: 550px;
    height: 607px;
    background-image: url('../images/offering/img_550_607.png');

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/offering/img_550_607@2x.png');
    }
  }
}

.offerings {
  @media screen and (min-width: $desktop) {
    @include flex-basis(2, 32px);
    padding: {
      top: 85px;
      bottom: 0px;
    }
  }
}

.offerings__title {
  @extend %title;

  font-size: 28px;
  line-height: calc(33 / 28);

  margin-bottom: 28px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 20px;
    padding-right: 178px;

    font-size: 42px;
    line-height: calc(49 / 42);
  }

  @media screen and (min-width: $desktop) {
    padding-right: 82px;
    line-height: 1.2;
  }
}

.offerings__description {
  padding-right: 8px;

  line-height: calc(16 / 14);

  margin-bottom: 28px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 40px;
    padding-right: 204px;

    font-size: 16px;
    line-height: calc(19 / 16);
  }

  @media screen and (min-width: $desktop) {
    padding-right: 108px;
    line-height: 1.5;

    letter-spacing: 0.03em;
  }
}

.offerings__list {
  @extend %list;

  margin-bottom: 28px;

  @media screen and (min-width: $tablet) {
    display: flex;
    gap: 116px;
    // @include flex-basis(2, 116px);
    // flex-basis: 252px;
    margin-bottom: 40px;
  }

  @media screen and (min-width: $desktop) {
    gap: 67px;
    margin-bottom: 32px;
  }
}

.offering {
  padding-right: 28px;

  @media screen and (max-width: calc($tablet - 1px)) {
    &:not(:last-child) {
      margin-bottom: 28px;
    }
  }

  @media screen and (min-width: $tablet) {
    padding-right: 0;
    @include flex-basis(2, 200px);
  }

  @media screen and (min-width: $desktop) {
    @include flex-basis(2, 102px);
  }

  &::before {
    display: inline-flex;
    background-color: #fff;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;

    margin-bottom: 10px;
  }

  &:first-child::before {
    content: url('../images/offering/delivery.svg');
  }

  &:last-child::before {
    content: url('../images/offering/order.svg');
  }
}

.offering__title {
  @extend %title;

  font-size: 18px;
  line-height: calc(21 / 18);

  margin-bottom: 16px;
}

.offering__description {
  line-height: calc(16 / 14);

  @media screen and (min-width: $desktop) {
    line-height: 1.5;
  }
}

.offerings__button-thumb {
  display: flex;
  gap: 20px;
  align-items: center;
}

.offerings__button {
  @extend %button_transparent;
}

.offerings__accent {
  @extend %link;
  line-height: 1.5;

  color: #000000;

  @media screen and (min-width: $desktop) {
    display: none;
  }
}
