.subscribe-section{
  @extend %section;
  
  padding-top: 52px;
  padding-bottom: 60px;
  
  @media screen and (min-width: $tablet) {
    padding-top: 82px;
    padding-bottom: 100px;
  }
  @media screen and (min-width: $desktop) {
    margin-top: -35px;
    padding-top: 0;
  }
}

.subscribe {
  position: relative;
  display: block;

  @media screen and (min-width: $desktop) {
    display: flex;
    flex-direction: row-reverse;
  }
}

.subscribe__img {
  position: absolute;

  @media screen and (max-width: 767px) {
    width: 280px;
    top: -104px;
    right: 0;
    left: 0;
    margin: 0 auto;
  }
  @media screen and (min-width: $tablet) {
    margin: 0;
    width: 281px;
    right: 0;
    top: -160px;
  }
  @media screen and (min-width: $desktop) {
    margin: 0;
    top: -46px;
    right: 0;
    width: 608px;
    position: relative;
  }
}
.subscribe__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.5;
  color: $black;
  margin-bottom: 20px;
  @media screen and (min-width: $tablet) {
    font-size: 42px;
  }
}
.subscribe__text {
  line-height: calc(16 / 14);
  color: $black;
  padding-bottom: 40px;
  @media screen and (min-width: $tablet) {
    font-size: 16px;
    line-height: 1.5;
    padding-bottom: 24px;
  }
}
.subscribe__form {
  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: flex-start;
  }
}
.subscribe__input:invalid:not(:placeholder-shown) {
  margin-bottom: 1px;
}

.subscribe__input {
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid $yellow;
  border-radius: 30px;
  width: 100%;
  @media screen and (min-width: $tablet) {
    width: 395px;
  }
  &:invalid {
    border-color: $red;
  }
  &:valid {
    border-color: $dark-green;
  }

  &:placeholder-shown {
    border-color: $yellow;
  }
  @media screen and (min-width: $tablet) {
    margin-bottom: 0;
    margin-right: 22px;
    display: inline;
  }
  @media screen and(min-width: $desktop) {
    margin-right: 32px;
  }
}
.subscribe__error {
  font-size: 10px;
  line-height: 1.5;

  color: $red;
  display: none;
  margin-top: 4px;
  order: 1;
}
.subscribe__input:invalid:not(:placeholder-shown) + .subscribe__error {
  display: flex;
}
.subscribe__error-icon {
  margin-right: 4px;
}
.subscribe__button {
  @extend %button_subscribe;

  position: relative;
  margin-left: auto;
  font-weight: 500;
  color: $black;
  background: $green;
  border: 0;

  &:hover {
    background: $button-hover-green;
  }
  @media screen and (min-width: $tablet) {
    display: inline;
    margin: 0;
  }
}
