.subscribe {
  display: block;
  padding-bottom: 60px;
  @media screen and (min-width: $tablet) {
    padding-bottom: 100px;
  }
  @media screen and (min-width: $desktop) {
    display: flex;
    flex-direction: row-reverse;
  }
}
.subscribe__img {
  margin: 0 auto 17px auto;
  @media screen and (min-width: $tablet) {
    margin: 0 0 20px auto;
  }
  @media screen and (min-width: $desktop) {
    margin: 0;
  }
}
.subscribe__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 120%;
  color: $black;
  margin-bottom: 20px;
  @media screen and (min-width: $tablet) {
    font-size: 42px;
  }
}
.subscribe__text {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(16 / 14);
  color: $black;
  padding-bottom: 40px;
  @media screen and (min-width: $tablet) {
    font-size: 16px;
    line-height: 150%;
    padding-bottom: 24px;
  }
}

.subscribe__form-thumb {
  @media screen and (min-width: $tablet) {
    margin-right: 22px;
    display: inline;
  }
  @media screen and(min-width: $desktop) {
    margin-right: 32px;
  }
}
.subscribe__input:invalid:not(:placeholder-shown) {
  margin-bottom: 1px;
}

.subscribe__input {
  padding: 12px;

  border: 0.85px solid $yellow;
  border-radius: 30px;
  width: 100%;
  @media screen and (min-width: $tablet) {
    width: 395px;
  }
  &:invalid {
    border-color: #ff705d;
  }
  &:valid {
    border-color: $dark-green;
  }

  &:placeholder-shown {
    border-color: $yellow;
  }
  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
  }
}
.subscribe__error {
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;

  color: #ff705d;
  display: none;
  margin-top: 4px;
}
.subscribe__input:invalid:not(:placeholder-shown) + .subscribe__error {
  display: flex;
}
.subscribe__error-icon {
  margin-right: 4px;
}
.subscribe__button {
  padding: 11px 22px;
  position: relative;
  margin-left: auto;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  color: $black;
  background: $green;
  border-radius: 30px;
  border: 0;
  cursor: pointer;
  display: block;
  &:hover {
    background: #b5ff00;
  }
  @media screen and (min-width: $tablet) {
    display: inline;
    margin: 0;
  }
}
