.swiper-plaseholder {
  display: none;

  @media screen and (min-width: $tablet) {
    position: absolute;
    top: 130px;
    right: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: 320px;

    background-image: url('../images/hero/EllipseSmall.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  @media screen and (min-width: $desktop) {
    top: -130px;
    right: 30px;
    background-image: url('../images/hero/EllipseBig.png');
    width: 580px;
    height: 580px;
  }
}

.swiper {
  width: 290px;
  height: 290px;
  border-radius: 50%;

  @media screen and (min-width: $desktop) {
    width: 530px;
    height: 530px;
  }
}

.swiper-image {
  width: 290px;

  @media screen and (min-width: $desktop) {
    width: 530px;
  }
}

.swiper-navigation {
  & .swiper-button-prev-custom {
    @include swiper-button-template;
    left: -10px;
  }

  & .swiper-button-next-custom {
    @include swiper-button-template;
    right: -10px;
  }
}

.swiper-button-icon {
  width: 10px;
  height: 22px;

  @media screen and (min-width: $desktop) {
    width: 15px;
    height: 30px;
  }
}
