.swiper-plaseholder {
  display: none;

  @media screen and (min-width: $tablet) {
    position: absolute;
    top: 130px;
    right: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    width: 360px;

    background-image: url('/src/images/hero/EllipseBig.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  @media screen and (min-width: $desktop) {
    top: 0;
    right: 10px;
    background-image: url('/src/images/hero/EllipseSmall.png');
    padding: 25px;
    width: 590px;
  }
}

.swiper {
  width: 295px;
  height: 295px;
  border-radius: 50%;

  @media screen and (min-width: $desktop) {
    width: 535px;
    height: 535px;
  }

  & .swiper-pagination-bullet-active {
    background: $green;
  }
}

.swiper-image {
  width: 295px;

  @media screen and (min-width: $desktop) {
    width: 535px;
  }
}

.swiper-navigation {
  & .swiper-button-prev-custom {
    @include swiper-button-tamplate;

    @media screen and (min-width: $desktop) {
      left: -10px;
    }
  }

  & .swiper-button-next-custom {
    @include swiper-button-tamplate;

    @media screen and (min-width: $desktop) {
      right: -10px;
    }
  }
}

.swiper-button-icon {
  width: 10px;
  height: 22px;

  @media screen and (min-width: $desktop) {
    width: 15px;
    height: 30px;
  }
}