.swiper-plaseholder {
  display: none;

  @media screen and (min-width: $tablet) {
    position: absolute;
    top: 150px;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    width: 360px;

    background-image: url('/src/images/hero/EllipseBig.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  @media screen and (min-width: $desktop) {
    top: 0;
    background-image: url('/src/images/hero/EllipseSmall.jpg');
    padding: 25px;
    width: 590px;
  }
}

.swiper {
  width: 295px;
  height: 295px;
  border-radius: 50%;

  @media screen and (min-width: $desktop) {
    width: 535px;
    height: 535px;
  }

  & .swiper-pagination-bullet-active {
    background: greenyellow;
  }
}

.swiper-image {
  width: 295px;

  @media screen and (min-width: $desktop) {
    width: 535px;
  }
}

.swiper-navigation {
  & .swiper-button-prev-custom {
    background-color: white;
    width: 34px;
    height: 28px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
    border-color: transparent;
    border-radius: 8px;

    @media screen and (min-width: $desktop) {
      left: -10px;
      width: 48px;
      height: 40px;
    }

    &::after {
      content: '';
      background-image: url('/src/images/hero/prev.svg');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      width: 10px;
      height: 22px;

      @media screen and (min-width: $desktop) {
        width: 15px;
        height: 30px;
      }
    }
  }

  & .swiper-button-next-custom {
    background-color: white;
    width: 34px;
    height: 28px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
    border-color: transparent;
    border-radius: 8px;

    @media screen and (min-width: $desktop) {
      right: -10px;
      width: 48px;
      height: 40px;
    }

    &::after {
      content: '';
      background-image: url('/src/images/hero/next.svg');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      width: 10px;
      height: 22px;

      @media screen and (min-width: $desktop) {
        width: 15px;
        height: 30px;
      }
    }
  }
}